version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: weekly
    time: '10:00'
  open-pull-requests-limit: 10
  labels:
    - "go"
    - "dependencies"
    - "dependabot"

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly
